* {
    box-sizing: border-box;
    
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
     padding: 5px;
    width: 100%;
    background-color: #eac926;
    flex-direction: column;
    margin: 0 auto;
  -webkit-transition: all ease .7s;
  -o-transition: all ease .7s;
  transition: all ease .7s;
    
  }
  .top-header {
    width: 100%;
    text-align: center;
    height: 60%;
    display: flex;
  }
  .subtitulo-header {
    width: 100%;
  }
    
  img {
    width: 100%;
  }
  
  .titulo {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 20px 0px;
    width: 100%;
  }
  .header ul li a {
    text-decoration: none;
    color: black;
  }
  .header ul li a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  
  .search-bar {
    width: 100%;
    margin: 20px 0;
  }
  
  .btn-buscar {
    cursor: pointer;
  }
  
  .navbar {
    display: none;
  }
  
  .navbar li {
    padding: 5px 0px;
  }

  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2473c7;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0 20px 0;
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .burger-container {
    display: flex;
    justify-content: center;
  }
  
  main {
    width: 90%;
    margin: 200px auto 50px auto;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
  }
  main section article img {
    width: 100%;
  }
  .abajo-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
  }
  
  .precio {
    font-size: 18px;
    width: 30%;
    padding: 15px 0px;
  }
  .descuento {
    width: 70%;
    font-size: 16px;
    color: #39b54a;
    padding: 15px 0px;
  }

  .descripcion {
    font-size: 16px;
    display: none;
    
  }
  
  .fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
  }
  
  .section1,
  .section2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  h3 {
    margin-bottom: 20px;
    color: #666;
  }
  
  .container-img-footer {
    width: 2em;
    margin-bottom: 10px;
    background-color: #eac926;
    color: #03264c;
  }
  
  footer {
    background-color: #eac926;
    margin: auto;
    padding: 1px;
    font-size: 12px;
    text-align-last: center;
  }
  footer div {
    display:block;
    flex-direction: column;
    align-items: center;
    text-align-last:inherit ;
    margin:  auto;
    max-width: 70%;
  }
  
  .titulo-h4 {
    font-size: 18px;
    padding: 5px;
  }
  
  .img-footer {
    font-size: 30px;
    
  }
  .logo {
    width: 250px;
  }
  
  @media (min-width: 361px) {
    main {
      width: 90%;
      margin: 400px auto 50px auto;
    }
    .search-bar input {
      width: 50%;
      margin: 30px 10px;
    }
    .copy{
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding: 1px;
    }
  
    .img-banner {
      display:flex;
    }
  
    .descripcion {
      display: block;
    }
    article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .section-article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    article {
      width: 45%;
      height: fit-content;
    }
    .precio {
      width: 60%;
    }
    .descuento {
      width: 40%;
    }
    .navbar {
      display: block;
    }
    .burger-container {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    main {
      width: 90%;
      margin: 50px auto 50px auto;
    }
    .top-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .subtitulo-header {
      max-width: 350px;
      font-size: 16px;
      text-align: right;
      margin-right: 3%;
    }
  
    .header {
      padding: 0px auto 2% auto;
      height: 150px auto;
    }
    
    .img-banner {
      display: flex;
      
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 2px auto 30px auto;
      font-size: 16px;
    }
  
    .navbar ul {
      display: flex;
    }
  
    .navbar li {
      margin: 5px 10px;
    }
  
    .search-bar {
      width: 100%;
      margin-left: 20px;
    }
  
    .search-bar input {
      width: 40%;
      margin-left: 20px;
    }
    article {
      width: 22%;
      box-shadow: none;
    }
  
    .descripcion {
      display: none;
    }
     .descripcion:hover {
      display: flex;
    } 
  
    article:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    article div:hover > h3 {
      display: block;
    }
  
    article:hover i {
      transform: rotateZ(-90deg);
      transition: all 1000ms ease;
    }
  
    .container-footer {
      display: flex;
      flex-direction: row;
      padding: 20px;
    }
  
    .img-footer:hover {
      color: #3483fa;
    }
  }
